.section-wrapper5 {

    .section {
        padding-top: 100px;
        box-sizing: border-box;
       
        .content-container {

            display: flex;
            justify-content: center;
            width: 70%;
            height: 65vh;
            padding-left: 5%;
            box-sizing: border-box;
            .left, .right {

                position: relative;
                border: 0px solid white;
            }
            .left {
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 3vh;
                h2 {
                    padding: 20px 0;
                    text-align: left;
                }


                .list {
                    width: 100%;
                    .item {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        padding: 10px 0;

                        .line {
                            width: 70px;
                            height: 1px;
                            border-top: 2px solid #2A2E36;

                        }
                        p {


                        }
                    }
                }
            }
            .right {
                width: 60%;
                display: flex;
                justify-content: flex-start;
                lottie-player {
                    height: 146%;
                    position: relative;
                    bottom: 13vh;
                    left: -10%;

                }
             
            }
        }
    }
}