.section-wrapper6 {

    .section {
        padding-top: 100px;
        box-sizing: border-box;
       
        .content-container {
            display: flex;
            border: 0px solid white;

            > .left, > .right {
                width: 50%;
                height: 100%;
                border: 0px solid red;
            }
            > .left {
                display: flex;

                justify-content: center;
                .container {
                    border: 0px solid white;
                    width: 60%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 30px;
                    > p.first {
                        text-align: left;

                    }

                    h2 {
                        text-align: left;

                    }
                    p.second {
                        text-align: left;


                    }
                }


            }
            > .right {
                display: flex; 
                gap: 25px;
                align-items: center;
                justify-content: center;
                .left, .right {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    div {
                        background-color: #292933;
                        cursor: pointer;
                        padding: 2.4em 2.2em;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;

                        &:hover {
                            background-color: #3A98C9;
                            i {
                                color: #FDFDFD;
                            }
                        }

                        i  {
                            color: #3A98C9;
                            flex-grow: 1;

                        }

                        h4 {

                            padding: 10px 0;
                            text-align: left;
                        }
                        p {

                            padding: 10px 0;
                            text-align: left;
                        }
                    }
                }
                .left {
                    position: relative;
                    top: 25px;


                }
            }
        }
    }
}