:root {

    --white: #FDFDFD;
    --white100: #E7E7E7;
    --white200: #B3B3B3;

    --cta-gradient: linear-gradient(230deg, #fa7f3f 0%, #e92f4f 50%, #cb1a77 100%);
    --button-gradient: linear-gradient(142deg, #1c4cd0 0%, #761cd0 100%);

}