.section-wrapper1 {
    height: 4000px;

    .section1 {
        height: 100vh;
        padding: 0;
        padding-top: 0!important;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url("../../../public/media/images/bg-section1.png");
            background-size: cover;
            background-position: center top;
            z-index: -1;
        }

        display: flex;
        justify-content: center;
        align-items: center;

        .lines {
            width: 100%;
            height: 100%;
            position: absolute;
            top: -3vh;

            .line-container {
                width: 100%;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.1);
                position: absolute;

                .animated-line {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20vh;
                    height: 100%;
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%);
                    animation: moveLine 3s linear infinite;
                }

            }
            .line-container:nth-child(1) {
                top: 21%;
                left: 0;
                transform: rotate(90deg);
            }
            .line-container:nth-child(2) {
                top: 21%;
                left: 4.5%;
                transform: rotate(75deg);
            }
            .line-container:nth-child(3) {
                top: 21%;
                right: 4.5%;
                transform: rotate(105deg);
            }
            .line-container:nth-child(4) {
                top: 21%;
                left: 9.5%;
                transform: rotate(60deg);
            }
            .line-container:nth-child(5) {
                top: 21%;
                right: 9.5%;
                transform: rotate(120deg);
            }
            .line-container:nth-child(6) {
                top: 21%;
                left: 15.8%;
                transform: rotate(45deg);
            }
            .line-container:nth-child(7) {
                top: 21%;
                right: 15.8%;
                transform: rotate(135deg);
            }
            .line-container:nth-child(8) {
                top: 21%;
                left: 25%;
                transform: rotate(30deg);
            }
            .line-container:nth-child(9) {
                top: 21%;
                right: 25%;
                transform: rotate(150deg);
            }
            .line-container:nth-child(10) {
                top: 21%;
                left: 48.5%;
                transform: rotate(15deg);
                .animated-line {
                    animation-delay: 0.6s;
                }
            }
            .line-container:nth-child(11) {
                top: 21%;
                right: 48.5%;
                transform: rotate(165deg);
                .animated-line {
                    animation-delay: 0.6s;
                }
            }

        }

        .circle-container {
            position: relative;


            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;


            overflow: hidden;
            border-radius: 50%;

            .circle {
                width: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
            h1 {
                z-index: 2;

                min-width: 120vh;

                span.highlight {
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-size: 200% 100%;
                    animation: text-bg-animate 5s ease infinite;
                }

                span.premium {
                    background-image: linear-gradient(122deg, #edb89c 0%, #7769e6 100%);
                }
                span.development {
                    background-image: linear-gradient(122deg, #edb89c 0%, #7769e6 100%);
                }

            }

            p {

                z-index: 2;

            }
            .button {
                font-size: 14px;
                margin-bottom: 2.4em;
                background: linear-gradient(230deg, #fa7f3f 0%, #e92f4f 50%, #cb1a77 100%);
                padding: 15px 20px;
                border-radius: 90px;
                font-family: "Plus Jakarta Sans", sans-serif;
                text-transform: uppercase;
                color: #FDFDFD;
                line-height: 1em;
                letter-spacing: 0.1em;
                font-weight: 600;
                z-index: 2;
                cursor: pointer;
            }
        }
        .internal-container {
            width: 200vh;
            position: absolute;
            height: 100%;
            max-width: 100vw;

            .services {

                display: flex;
                justify-content: center;

                .title {
                    margin-top: -10vh;
                    position: absolute;
                    top: -30%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2 {

                        span.highlight {
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-size: 200% 100%;
                            animation: text-bg-animate 5s ease infinite;
                        }

                        span.premium {
                            background-image: linear-gradient(122deg, #edb89c 0%, #7769e6 100%);
                        }
                        span.development {
                            background-image: linear-gradient(122deg, #edb89c 0%, #7769e6 100%);
                        }
                    }
                    .button {


                    }
                }

                .service {

                    position: absolute;
                    z-index: 100;
                    scale: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 10px;
                    cursor: pointer;
                    &:hover {
                        img {
                            scale: 1.05!important;
                        }
                    }


                    i {
                        z-index: 2;
                    }
                    p {
                        padding: 0;
                        margin: 0;
                    }
                    p, span {
                        z-index: 2;


                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        transition: scale 3s;


                    }
                }
                .service:nth-child(1) {
                    left: 10%;
                    top: 15%;
                }
                .service:nth-child(2) {
                    right: 8%;
                    top: 9%;
                }
                .service:nth-child(3) {
                    left: 24%;
                    bottom: 9%;
                }
                .service:nth-child(4) {
                    right: 20%;
                    bottom: 9%;
                }
                .service:nth-child(5) {
                    right: 44%;
                    bottom: 28%;

                }
                .service:nth-child(6) {
                    left: 7%;
                    bottom: 26%;

                }
                .service:nth-child(7) {
                    right: 4%;
                    bottom: 36%;

                }
            }
        }


        .mouse {
            width: 30px;
            height: 50px;
            position: absolute;
            bottom: 15px;
            left: calc(50% - 15px);
            border: 2px solid white;
            border-radius: 50px;

            .wheel {
                width: 5px;
                height: 10px;
                background: white;
                position: absolute;
                top: 8px;
                left: calc(50% - 2px);
                border-radius: 9px;
                animation: mouse 0.5s linear infinite;
                animation-direction: alternate;
            }
        }

    }
}

@media (orientation: portrait) {
    .section-wrapper1 {
        height: 2000px;

        .section1 {


            .lines {
                width: 383vw;
                top: 0;

            }

            .circle-container {
                top: 0;

                h1 {
                    z-index: 2;
                    margin-top: 2vh;
                }

                p {


                    z-index: 2;

                }

            }
            .internal-container {
                width: 200vh;
                position: absolute;
                height: 100%;
                max-width: 100vw;

                .services {

                    display: flex;
                    justify-content: center;

                    .title {
                        margin-top: 9vh;
                        top: 30%;
                        scale: 0;
                    }

                    .service:nth-child(1) {
                        left: 5%;
                        top: 8%;
                    }
                    .service:nth-child(2) {
                        right: 5%;
                        top: 8%;
                    }
                    .service:nth-child(3) {
                        left: 5%;
                        bottom: 10%;
                    }
                    .service:nth-child(4) {
                        right: 5%;
                        bottom: 10%;
                    }
                    .service:nth-child(5) {
                        right: 40%;
                        top: 26%;
                        display: none;
                    }
                    .service:nth-child(6) {
                        display: none;
                        left: 39%;
                        bottom: 26%;
                    }
                    .service:nth-child(7) {
                        display: none;
                    }
                }
            }


        }
    }
}


@keyframes moveLine {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes text-bg-animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes mouse {
    0% {
        top: 8px;
    }
    100% {
        top: 14px;
    }
}

@keyframes scaling {
    0% {
       scale: 1;
    }
    50% {
        scale: 1.05;
    }
    100% {
        scale: 1;
    }
}
